body{
    font-family: monospace;
    color:darkslategrey;
}

.selected{
    fill: darkslateblue;
}

.map_container{
    
    width: 662px;
    float:left;
   
}
.chart_container{
    width: 840px;
    float:right;
    
}
.pie_container{
    width:662px;
    
}  

.selectedCentroid{
    fill:purple;
}

form{
    float:left;
    vertical-align: middle;
}

h1{
    text-align: center;
}
    
